<div style="text-align: center;">
  <h2>Summary</h2>
  <div style="width: 400px; height: 500px; margin: 0 auto;">
    <canvas id="summaryChart"></canvas>
  </div>
</div>

<div
  style="
    margin: 0px auto;
    padding: 10px;
    text-align: justify;
    font-family: Arial, sans-serif;
    max-width: 1000px;
  "
>
  <p>
    This chart represents industries with the highest potential for automation based on their percentage of jobs that can be automated. The data highlights the transformative impact of generative AI across various sectors, showcasing which industries are more susceptible to adopting automation technologies. Specifically, this chart aims to emphasize the profound societal and economic changes that may arise as AI becomes increasingly capable of performing tasks traditionally carried out by humans.
  </p>
  <p>
    Generative AI has the potential to revolutionize industries like banking, insurance, retail, and media by enhancing efficiency, reducing costs, and enabling innovative solutions. However, this technological advancement comes with concerns about job displacement, as automation could replace repetitive or process-driven roles, leaving many individuals at risk of unemployment or requiring reskilling for entirely new fields. While these changes present exciting opportunities for growth and innovation, they also demand careful planning to ensure that societies can adapt to the shifting job landscape and mitigate the challenges posed by widespread AI adoption.
  </p>
  <p style="margin-top: 10px; font-weight: bold; text-align: left;">
    Source: <a href="https://explodingtopics.com/blog/generative-ai-stats" target="_blank">Exploding Topics</a>
  </p>
</div>
